body{
background: black;
}

.card{
    width: 500px;
    height: 250px;
    padding: 1px 20px;
    box-sizing: border-box;
 background: url(ativos/backgorund.png);   
 background-repeat:no-repeat;
    background-size:cover;
 background-position: center;
 margin: auto;
 margin-top: 10%;
}

a{
    text-decoration: none;
    color: rgb(14, 10, 241);

}

.intagram{
    list-style-image:url('ativos/Insta.png') ;
 

}

.twitter{
 list-style-image: url('ativos/Twitter.png');
 }

.EMAIL{
    list-style-image: url('ativos/email.PNG');
}
   


